evaluate
transformers
datasets
accelerate
torch
torchvision
torchaudio
soundfile
librosa
pyaudio
pyctcdecode
pandas
numpy
scipy
scikit-learn
tqdm
matplotlib
seaborn
https://github.com/kpu/kenlm/archive/master.zip
sounddevice