evaluate
transformers==4.41.2
datasets==2.18.0
accelerate==0.28.0
peft==0.10.0
torch
torchvision
torchaudio
soundfile
librosa
pyaudio
pyctcdecode
pandas
numpy
scipy
scikit-learn
tqdm
matplotlib
seaborn
kenlm
sounddevice
audiomentations