accelerate
audiomentations
datasets==2.13.1
evaluate
kenlm==0.2.0
librosa
matplotlib
numpy
pandas
peft==0.3.0
pyaudio
pyctcdecode
pydub
pytest
scikit-learn
scipy
seaborn
sounddevice
soundfile
torch
torchaudio
torchvision
tqdm
transformers==4.29.2
tokenizers==0.12.1